.header-ancor {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.header-ancor::before {
  content: ' ';
  display: inline-block;
  background-color: #f59098;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
