.main-carousel {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  padding-left: 85px;
  padding-right: 85px;
}

.main-carousel .items {
  width: 100%;
  overflow: hidden;
}

.main-carousel .items .elements {
  display: flex;
  justify-content: space-between;
  transform: translateX(0px);
  transition: transform 1000ms ease-in-out;
}

.main-carousel::after {
  content: ' ';
  display: block;
  left: 50px;
  top: 30px;
  height: 5px;
  width: calc(100% - 100px);
  position: absolute;
  border-top: 5px solid black;
}

.main-carousel::before {
  content: ' ';
  display: block;
  left: 0px;
  top: 31px;
  height: 5px;
  width: 100%;
  position: absolute;
  border-top: 3px dashed black;
}

.main-carousel .button-arrow {
  position: absolute;
  bottom: 70px;
  transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}
