.tittle-wrapper {
  display: inline-block;
  /* background-color: #423b6e; */
  text-align: center;
  margin-top: 140px;
  margin-left: 50px;
}

.main-tittle {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px;
  color: #f59098;
  font-weight: 400;
  text-shadow: 4px 4px 0 black;
  margin-bottom: 18px;
}

.subtittle {
  font-family: 'Press Start 2P';
  color: #fee8f5;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-shadow: 4px 4px 0 black;
}
