.project-organizer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
}

/* .project-wrapper {
  display: flex;
  flex-direction: column;
} */

.project-wrapper .main-tittle {
  font-size: 25px;
  padding: 0;
  margin: 5px;
}

.project {
  height: 220px;
  width: 220px;
  box-shadow: 5px 5px #fff;
}
