.main-section {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fcd7e1;
  border-bottom: 10px solid hsl(230, 30%, 48%);
}

.main-section.-projects {
  background-color: #f59098;
  padding-left: 200px;
  padding-right: 200px;
}

.main-section.-sobre {
  text-align: center;
}
