.main-tittle.-second {
  font-size: 40px;
  text-align: center;
  color: #56629e;
  text-shadow: none;
  padding-bottom: 60px;
}

.tec-bar-wrapper {
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  color: #56629e;
  display: flex;
  width: 430px;
  margin-bottom: 54px;
}

.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.tec-bar-wrapper:nth-child(odd) {
  margin-right: 85px;
}
