.stylized-button {
  display: inline-block;
  background-color: #f59098;
  box-shadow: 5px 5px 0px black;
  margin-right: 0;
  padding: 18px 20px;
  transition: transform 900ms;

  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.stylized-button:hover {
  transform: translateX(10px) rotate(10deg) translateY(5px);
}
